
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #4c6ef5, #15aabf);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 40px 50px;
  
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
    height: 100vh;
    position: absolute;
    right :0px;
    top: 0px
}

.form-container{
    margin: 50px;
    width: 300px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form-container h2 {
    margin: 20PX;
    color: #333;
}

/* Input fields */
.container input[type="text"],
.container input[type="email"],
.container input[type="password"] {
    width: 200px;
    padding: 10px;
    margin: 10px 0 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

/* Input hover/focus effect */
.container input:focus {
    border-color: #4c6ef5;
}

/* Buttons */
.container button {
    width: 40%;
    margin: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #4c6ef5;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: background 0.3s ease;
}

.container button:hover {
    background-color: #364fc7;
}

/* Links (login/signup switch) */
.container p {
    margin-top: 0px;
    color: #555;
}

.image {
  text-align: center;
  margin-top: 20px;
  position: absolute;
  top: 19%;
  left: 18%;
}

.image img {
  width: 400px;
  height: auto;
  border-radius: 40px;
  transition: transform 0.3s ease;
}

.image img:hover {
  transform: scale(1.05);
}
